* {
    box-sizing: border-box;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
    padding: 0;
}
html{
    background-color: #141414;
}
.calculator {
    margin: 20px auto;
    max-height: 400px;
    max-width: 285px;
    background-color: #333333;
    border-radius: 15px;
    overflow: visible;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
#display, #display2{
    height: 20px;
    border: none;
    color: white;
    background-color: #333333;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    font-size: large;
    width: 90%;
}
.calculator button {
    flex: 1;
    height: 30px;
    width: 65px;
    margin-bottom: 2px;
    border: none;
    border-radius: 5px;
    background-color: #444444;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

.button.operator.number{
    background-color: #4e4e4e;
}

.dropdown-calc{
    margin: 20px;
    width: 80px;
}
.dropdown-calc button{
    width: auto;
    text-align: left;
}

.button.operator.trigonomie{
    width: 40px;
    margin: 0;
    padding: 0;
    border-radius: 0;
}

.dropdown-content-calc {
    display: none;
    position: absolute;
    width: auto;
    overflow: auto;
    background: #333333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-calc:hover .dropdown-content-calc {
    display: block;
}
.dropdown-content-calc a {
    display: block;
    color: white;
    background: #444444;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content-calc a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

#buttons{
    width: auto;
    text-align: center;
}

.button:hover {
    background-color: #e6e6e6;
}

.button:active {
    background-color: #d9d9d9;
}

.dropdown_calcs {
    float: left;
    overflow: hidden;
    width: auto;
    margin: 0;
}

.dropdown_calcs .dropdown_button {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-calcs-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-calcs-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-calcs-content a:hover {
    background-color: #898989;
}

.dropdown_calcs:hover .dropdown-calcs-content {
    display: block;
}