* {
    box-sizing: border-box;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    margin: 0;
    padding: 0;
}
html{
    background-color: #141414;
}
.calculator {
    margin: 20px auto;
    max-height: 360px;
    width: 280px;
    background-color: #333333;
    border-radius: 15px;
    overflow: visible;
    font-family: Arial, sans-serif;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

#display {
    height: 60px;
    font-size: 24px;
    background-color: rgba(104,104,104,0.36);
    border: none;
    text-align: right;
    color: whitesmoke;
    margin: 2%;
}

.calculator.basic {
    max-width: 300px;
}

#input {
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-align: right;
    padding-right: 10px;
    background-color: #333333;
    border: none;
    outline: none;
    color: white;
}

#input::placeholder {
    background-color: #333333;

}

.button-row {
    display: flex;
}

.calculator button {
    flex: 1;
    height: 35px;
    border: none;
    margin: 5px;
    border-radius: 10px;
    background-color: #333333;
    color: whitesmoke;
    cursor: pointer;
    transition: background-color 0.8s ease;
}

.button:hover {
    background-color: #e6e6e6;
}

.button:active {
    background-color: #d9d9d9;
}

.button.number {
    color: #333;
}

.button.operator {
    background-color: #ff8c00;
}

.button.operator:hover {
    background-color: #e67300;
}

.button.operator:active {
    background-color: #d9d9d9;
}

.button.clear {
    background-color: #333333;
    color: red;
}

.button.clear:hover {
    background-color: #e6e6e6;
}

.button.clear:active {
    background-color: #d9d9d9;
}

.button.operator.advanced {
    display: none;
}

.advanced-functions-activated{
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
        background-color: #ff8c00;
}

.advanced-functions-activated:active {
    background-color: #cc6600;
}

.advanced-functions-activated:hover {
    background-color: #e67300;
}


.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    height: 40px;
    width: 50px;
}

.close-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    margin: auto;
}

.expand-button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    cursor: pointer;
}

@media only screen and (min-width: 650px) {
    #advanced-function1,#advanced-function2, #advanced-function3,#advanced-function4,#advanced-function5,#advanced-function6, #advanced-function7,
    #advanced-function8, #advanced-function9, #advanced-function10, #advanced-function11, #advanced-function12, #advanced-function13, #advanced-function14 ,
    #advanced-function15{
        display: inline-block;
        flex-wrap: wrap;
        border: none;
        cursor: pointer;
        transition: background-color 0.2s ease;
    }
    .calculator{
        max-width: 400px;
        width: auto;
        max-height: 340px;
    }
    #display {
        max-height: 40px;
    }
}