.error{
    color: red;
}

#sortButtons{
    width : auto;
    font-size: x-small;
}

#delAllButton{
    font-size: 11px;
    width: 45px;
}

.delButton{
    width: 45px;
}

.updateButton{
    width: 45px;
}


.updateButtonContainer{
    float: left;
}

.init{
    float:left
}

div{
    margin-bottom: 10px;
}

#formcontainer{
    flex: content;
    text-align: center;
    font-size: 19px;

    background: #333333;
}
#table{
    border: black solid 1px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
th{
    border: black solid 1px;
}
tr{
    border: black solid 2px;
}

html{
    background: #333333;
}

.clockface{
    background-color: #333333;
    text-align: right;
    float: right;
    display: grid;
    place-items: center;
    min-height: 5vh;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubunto, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    gap: 4rem;
    margin: 1rem;
}

.clock--wrapper {
    display: grid;
    place-items: center;
    gap: 2rem;
    color: #FFFFFF;
}

.clockface {
    filter: drop-shadow(2px 10px 10px black);
}

.ring--seconds{
    fill: #292929;
    stroke: #c5c5c5;
    stroke-width: 3;
    stroke-dasharray: .1 .9;
    stroke-dashoffset: .05;
}

.ring--hour{
    fill: transparent;
    stroke: white;
    stroke-width: 5.5;
    stroke-dasharray: .05 .95;
    stroke-dashoffset: .025;
}

.ring--center {
    fill: white;
    stroke: white;
    stroke-width: 0.05;
}
.hand {
    stroke: white;
    stroke-linecap: round;
}

.hand--minute {
    transform: rotate(90deg);
}
.hand--hour {
    transform: rotate(45deg);
}
.hand--second {
    transform: rotate(18deg);
    stroke-width: 0.51;
}
